
/* __________NAV BAR__________ */

.navbar-brand{
    padding-left: 25px;
}

.nav-item a {
    padding-left: 15px;
    color: white;
}

.nav-item a:hover {
    color: rgb(189, 4, 4);
}

.active{
    text-decoration: underline;
}

.navbar-nav {
    font-size: 1.1rem;
    font-weight: 700;
    padding-left: 1025px;
}


.form-control{
    background-color: black;
}

/* __________CARROSSEL__________ */

.carousel-caption {
    /* padding-bottom: 685px; */
    padding-right: 850px;
    text-align: left;
    line-height: 1.8;
}




h1{
    font-size: 50px;
    font-weight: bold;
   padding-bottom: 50px;
    }
    

.row-2 {
    padding-top: 10px;
}

.card-img-overlay {
    background: linear-gradient(190.99deg,#000000 0,transparent 99.04%);
}


.blog{
    padding-left: 250px;
    padding-right: 250px;
}


