/* 
#7144D8
#9C44D8 
#2a2a2a
#989898
*/

.navbar {
    --bs-navbar-hover-color: #9625be;
}

.nav-link {
    color: #7144d8;
    font-size: 22px;
    font-weight: 600;
    padding: 18px !important;
}

.nav-link:hover {
    color: #9c44d8;
}

.btn-nav {
    background-color: #7144d8;
    border: none;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    margin-right: 10px;
}

.btn-nav:hover {
    background-color: #9c44d8;
}

.container {
    font-family: "Inter", sans-serif;
    color: #989898;
    padding: 20px;
}

.btn-search {
    background-color: #7144d8;
    border: none;
    color: white;
}

.btn-search:hover {
    background-color: #9c44d8;
}

.btn-outline-success {
    --bs-btn-active-bg: #9625be;
}

.search {
    background-color: #2a2a2a;
    border: none;
    color: white;
    margin-right: 5px;
}

.search::placeholder {
    color: #989898;
}

.card-link {
    text-decoration: none;
}

.card-img-overlay:hover {
    color: #7144d8;
}

.section_title {
    margin-bottom: 30px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.primary_title {
    color: #7144d8;
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 1.35;
}

.secondary_title {
    color: #7144d8;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.35;
}

.container-form {
    justify-content: space-between;
    padding-top: 25px;
}

.row-form {
    margin-bottom: 25px;
}

.form-control {
    background-color: #2a2a2a;
    border: none;
    color: white;
}

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border: solid 0.5px #989898;
    border-radius: 4px;
    font-size: 14px;
    color: #989898;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #2a2a2a;
    box-shadow: 2px 2px 2px rgba(58, 58, 58, 0.25);
}

.file-input__label:hover {
    border: solid 0.5px #9c44d8;
    color: #9c44d8;
    background-color: #000000;
}

.file-input__label i {
    font-size: 16px;
    margin-right: 6px;
}

.confirmation-button {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-primary-purple {
    align-items: center;
    color: #ffffff;
    background-color: #7144d8;
    border-radius: 0.6rem;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.0500000007);
    font-size: 1rem;
    padding: 8px 16px;
    font-weight: 600;
    justify-content: center;
    border: none;
    --bs-btn-active-bg: #9625be;
    --bs-btn-active-color: #ffffff;
}

.btn-primary-purple:hover {
    color: #ffffff;
    background-color: #9c44d8;
}

.tabela {
    --bs-table-bg: transparent;
}

.tabela th {
    color: #9c44d8;
}

.tabela td {
    color: #989898;
}

.forgot-pass a {
    color: #7144d8;
}

.form-control:disabled {
    background-color: #2a2a2a;
}
