header,
footer {
  text-align: center;
}

header img {
  width: 70%;
  max-width: 600px;
  min-width: 400px;
}

footer {
  color: blue;
}

footer img {
  max-width: 30px;
  min-width: 30px;
  width: 30px;
}

#noUnderline {
  text-decoration: none;
}

.about {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7en;
  padding: 15px;
}
