

<div>
    <h2>Nova marcação</h2>
  </div>
  <div>
    <form [formGroup]="formularioMarcacao" (ngSubmit)="handleSubmit()">
      <div>
        <label for="tipo">Tipo:</label>
        <input formControlName="tipo" type="text" id="tipo" />
        @if ((submitted || formularioMarcacao.controls['tipo'].touched) && formularioMarcacao.controls['tipo'].errors) {
        <div>
          @if (formularioMarcacao.controls['tipo'].errors['required']) {
          <span>O Tipo é obrigatório</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="animalId">ID do Animal:</label>
        <input formControlName="animalId" type="text" id="animalId" />
        @if ((submitted || formularioMarcacao.controls['animalId'].touched) && formularioMarcacao.controls['animalId'].errors) {
        <div>
          @if (formularioMarcacao.controls['animalId'].errors['required']) {
          <span>O ID do Animal é obrigatório</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="tutorId">ID do Tutor:</label>
        <input formControlName="tutorId" type="text" id="tutorId" />
        @if ((submitted || formularioMarcacao.controls['tutorId'].touched) && formularioMarcacao.controls['tutorId'].errors) {
        <div>
          @if (formularioMarcacao.controls['tutorId'].errors['required']) {
          <span>O ID do Tutor é obrigatório</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="dataHora">Data e Hora:</label>
        <input formControlName="dataHora" type="datetime-local" id="dataHora" />
        @if ((submitted || formularioMarcacao.controls['dataHora'].touched) && formularioMarcacao.controls['dataHora'].errors) {
        <div>
          @if (formularioMarcacao.controls['dataHora'].errors['required']) {
          <span>A Data e Hora é obrigatório</span>
          }
        </div>
        }
      </div>
      <button type="submit" [disabled]="submitted && formularioMarcacao.invalid">Criar marcação</button>
    </form>
  </div>
