<p>tutores-criar works!</p>

<div>
    <h2>Nova marcação</h2>
  </div>
  <div>
    <form [formGroup]="formularioTutores" (ngSubmit)="handleSubmit()">
      <div>
        <label for="tipo">Nome:</label>
        <input formControlName="nome" type="text" id="nome" />
        @if ((submitted || formularioTutores.controls['nome'].touched) && formularioTutores.controls['nome'].errors) {
        <div>
          @if (formularioTutores.controls['nome'].errors['required']) {
          <span>O Nome é obrigatório</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="tipo">Telemovel:</label>
        <input formControlName="telemovel" type="text" id="telemovel" />
        @if ((submitted || formularioTutores.controls['telemovel'].touched) && formularioTutores.controls['telemovel'].errors) {
        <div>
          @if (formularioTutores.controls['telemovel'].errors['required']) {
          <span>O telemovel é obrigatório</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="tipo">Email:</label>
        <input formControlName="email" type="text" id="email" />
        @if ((submitted || formularioTutores.controls['email'].touched) && formularioTutores.controls['email'].errors) {
        <div>
          @if (formularioTutores.controls['email'].errors['required']) {
          <span>O email é obrigatório</span>
          }
        </div>
        }
      </div>            
 
      <button type="submit" [disabled]="submitted && formularioTutores.invalid">Criar tutor</button>
    </form>
  </div>